/* Hent fonts her: https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: rgb(182, 222, 237);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #444;
  margin: auto;
}

#logo {
  margin-bottom:0px;
  padding-bottom:0px;
}

#cart {
	position:absolute;
	right: 320px;
	top: 15px;
}

#user {
	position:absolute;
	right: 410px;
	top: 15px;
}

.main {
	border:dasdhed black;
	margin: 0px 300px;
	background-color:white;
	box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.2);
	padding: 10px;
}

.top {
	bordder:dashed black;
	padding: 0px 300px;
	background-color:white;
	box-shadow: 2px 2px 5px black;
}

/* Menuen */
.menu {
  background-color: dimgrey;
  overflow: hidden;
  width: 100%;
  box-shadow: 2px 2px 5px black;
  margin-bottom:20px;
  position: inherit;
}

/* Links */
.menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Farve på links når man holder musen over */
.menu a:hover {
  background-color: #ddd;
  color: black;
}

/* Farve på linket til den aktive side - indsæt: class="aktiv" ved det aktive link */
.menu a.aktiv {
  background-color: darkred;
  color: white;
}

/* Venstre side af menuen */
.left {
	position:relative;
	left: 300px;
}

/* Højre side af menuen */
.right {
  position: absolute;
  right: 300px;
}

.searchbar {
  float: right;
  padding: 6px;
  margin-top: 30px;
  margin-right: 50%;
}

.slide {
	text-align:center;
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Slideshow animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

h1 {
	font-size: 20px;
}

.kort {
  padding-top: 15px;
  box-shadow: 1px 1px 5px black;
  max-width: 200px;
  margin: 20px;
  text-align: center;
  display: inline-block;
}

.pris {
  color: rgb(35, 35, 35);
  font-size: 18px;
  padding-bottom: 15px;
}
